{% extends 'base.html.twig' %}

{% block title %}Praticien index{% endblock %}

{% block body %}
    <sommaire></sommaire>
    <h1 style="text-align:center">Tableau de la liste des praticiens</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Adresse</th>
                <th>Code Postal</th>
                <th>Ville</th>
                <th>Date d'embauche</th>
                <th>Coefficient de notoriété</th>
                <th>Lieu d'exercice</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for praticien in praticiens %}
            <tr>
                <td>{{ praticien.id }}</td>
                <td>{{ praticien.nom }}</td>
                <td>{{ praticien.prenom }}</td>
                <td>{{ praticien.adresse }}</td>
                <td>{{ praticien.cp }}</td>
                <td>{{ praticien.ville }}</td>
                <td>{{ praticien.dateembauche ? praticien.dateembauche|date('Y-m-d') : '' }}</td>
                <td>{{ praticien.coefnotoriete }}</td>
                <td>{{ praticien.lieuexercice }}</td>
                <td>
                    <a href="{{ path('app_praticien_show', {'id': praticien.id}) }}">show</a>
                    <a href="{{ path('app_praticien_edit', {'id': praticien.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">Pas de praticien</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_praticien_new') }}">Nouveau praticien</a>
{% endblock %}
